<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 3.1. Преобразование вывода</p> 

<a id = Home></a>

7 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)

10 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">


## 3.1.1. Преобразование вывода и скалярные функции

В SQL реализованы операторы преобразования данных и встроенные функции, предназначенные для работы со значениями столбцов
и/или константами в выражениях. Использование этих операторов допустимо в запросах везде, где можно использовать выражения.

### Числовые, символьные и строковые константы

Несмотря на то, что SQL работает с данными в понятиях строк и столбцов таблиц, имеется возможность применения значений выражений, построенных с использованием встроенных функций, констант, имен столбцов, которые определяются как своего рода виртуальные столбцы. Они помещаются в списке столбцов и могут сопровождаться псевдонимами.

Если в запросе вместо спецификации столбца SQL обнаруживает число, то оно интерпретируется как *числовая константа*. Символьные константы указываются в одинарных кавычках. Если кавычка должна выводиться как часть строковой константы, то ее нужно предварить другой кавычкой.

```
SELECT 'Фамилия', SURNAME, 'Имя', NAME, 100, 'student''s office'
	FROM STUDENT limit 5;
```

<img src="../Img/l3_1_1.png" style="width:60%">


### Арифметические операции для преобразования числовых данных

- Унарный (одиночный) оператор − (знак минус) изменяет знак числового значения, перед которым он стоит, на противоположный.
- Бинарные операторы +, −, * и / предоставляют возможность выполнения арифметических операций сложения, вычитания, умножения и деления.
```
SELECT SURNAME, NAME, STIPEND, KURS, -(STIPEND*KURS)/2
	FROM STUDENT
	WHERE KURS = 4 AND STIPEND < 200;
```

<img src="../Img/l3_1_2.png" style="width:50%">


### Символьная операция конкатенации строк

Операция конкатенации, обозначаемая символом “||”, позволяет соединять (“склеивать”) значения двух или более столбцов символьного типа или символьных констант в одну строку.
```
SELECT surname || '_' || name, stipend
	FROM student
	WHERE kurs = 4 AND stipend > 200;
```

<img src="../Img/l3_1_3.png" style="width:50%">


### Символьные строковые функции

**LTRIM** — удаление левых граничных символов.
```
LTRIM(<строка>[, <подстрока>])
```
- из <строки> удаляются слева символы, указанные в <подстроке>;
- если <подстрока> не указана, то по умолчанию удаляются пробелы;
- в <строку> справа добавляется столько пробелов, сколько символов слева было удалено, т. е. длина <строки> остается неизменной.

**RTRIM** — удаление правых граничных символов
```
RTRIM(<строка>[, <подстрока>]
```
Пример.
```
SELECT RTRIM(univ_name, "УГ") FROM university;
```

**SUBSTR** — выделение подстроки

```
SUBSTR(<строка>, <начало>[, <количество>]
```
- из <строки> выбирается заданное <количество> символов, начиная с указанной позиции в строке <начало>;
- если <количество> не задано, символы выбирают с <начала> и до конца <строки>.

<u>Пример.</u>
```
SELECT substr(subj_name,1,6) FROM subject limit 5;

sqlite> SELECT substr(subj_name,1,6) FROM subject limit 5;
substr(subj_name,1,6)
---------------------
Анализ
Англий
Информ
Истори
Матема
sqlite>

```

**INSTR** — поиск подстроки
```
INSTR(<строка>, <подстрока>)
```
- тип возвращаемого значения — INT;
- функция возвращает позицию найденной подстроки.

<u>Пример.</u>

```
sqlite> select instr(univ_name, 'У') from university;
instr(univ_name, 'У')
---------------------
3
3
0
3
3
0
3
3
4
4
5
3
1
sqlite>

```

**LENGTH** — определение длины строки
- длина <строки>, тип возвращаемого значения — INT;
- функция возвращает NULL, если <строка> имеет NULL-значение.

<u>Пример.</u>
```
SELECT subj_name, length(subj_name)
	FROM subject;
```
<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания c помощью Jupyter Notebook и языка програмирования Python</p>

1. Составьте запрос для таблицы STUDENT таким образом, чтобы в результат содержал только студентов, чья фамилия заканчивается на "ова" и чтобы выходная таблица содержала всего один столбец в следующем виде: В. Кудряшова; место жительства - Нижневартовск; день рождения 2002-02-18.
2. Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий, при этом значения стипендий должны быть увеличены в 100 раз.
3. Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица содержала всего один столбец в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.


## 3.1.2. Агрегирование и групповые функции

Агрегирующие функции позволяют получать из таблицы сводную (агрегированную) информацию, выполняя операции над группой строк
таблицы. Для задания в SELECT-запросе агрегирующих операций используются следующие ключевые слова:

- COUNT определяет количество строк или значений поля, выбранных посредством запроса и не являющихся NULL-значениями;
- SUM вычисляет арифметическую сумму всех выбранных значений данного поля;
- AVG вычисляет среднее значение для всех выбранных значений данного поля;
- MAX вычисляет наибольшее из всех выбранных значений данного поля;
- MIN вычисляет наименьшее из всех выбранных значений данного поля.

```
SELECT min(rating), max(rating), round(avg(rating),2), count(univ_id)
	FROM university;
    
SELECT count(DISTINCT subj_id)
    FROM subject;
```

Предложение GROUP BY позволяет применять агрегирующие функции к каждой группе, определяемой общим значением поля или полей, указанных в этом предложении.
```
SELECT exam_marks.student_id, max(exam_marks.mark)
	FROM exam_marks
	GROUP by exam_marks.student_id;
```

В конструкции GROUP BY для группирования может быть использовано более одного столбца.
```
SELECT student_id, subj_id, max(mark)
    FROM exam_marks
    GROUP BY student_id, subj_id
```
Следует иметь в виду, что после ключевого слова SELECT должны быть использованы те имена столбцов, которые указаны в
предложении GROUP BY.

Предложение HAVING определяет критерий, по которому группы следует включать в выходные данные (по аналогии с предложением
WHERE, которое осуществляет это для отдельных строк):

```
SELECT subj_name, max(HOUR)
	FROM subject
	GROUP BY subj_name
	HAVING max(hour) >= 50 AND max(hour)<70
```
<img src=../Img/pencil.png style="width:190px;height:190px">

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните указанные задания c помощью Python в интерактивной среде Jupyter notebook</p>

1. Напишите запрос для подсчета количества студентов, сдававших экзамен по предмету обучения с идентификатором 73.
2. Напишите запрос, который позволяет подсчитать в таблице EXAM_MARKS количество различных предметов обучения.
3. Напишите запрос, который для каждого студента выполняет выборку его идентификатора и минимальной из полученных им оценок.
4. Напишите запрос, который для каждого студента выполняет выборку его идентификатора и максимальной из полученных им оценок.
5. Напишите запрос, выполняющий вывод первой по алфавиту фамилии студента, начинающейся на букву "И".
6. Напишите запрос, который для каждого предмета обучения выводит наименование предмета и максимальное значение номера семестра, в котором этот предмет преподается.
7. Напишите запрос, который для каждого конкретного дня сдачи экзамена выводит данные о количестве студентов, сдававших экзамен в этот день.
8. Напишите запрос, выдающий средний балл для каждого студента.
9. Напишите запрос, выдающий средний балл для экзамена по каждому предмету.
10. Напишите запрос, определяющий количество сдававших студентов для каждого предмета (оценка больше двух).
11. Напишите запрос для определения количества предметов, изучаемых на каждом курсе.
12. Для каждого университета напишите запрос, выводящий суммарную стипендию обучающихся в нем студентов, с последующей сортировкой списка по этому значению.
13. Для каждого семестра напишите запрос, выводящий общее количество часов, отводимое на изучение соответствующих предметов.
14. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им на всех экзаменах.
15. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им по каждому предмету.
16. Напишите запрос, выводящий количество студентов, проживающих в каждом городе. Список отсортировать в порядке убывания количества студентов.
17. Для каждого университета напишите запрос, выводящий количество обучающихся в нем студентов, с последующей сортировкой списка по этому количеству.
18. Для каждого университета напишите запрос, выводящий количество работающих в нем преподавателей, с последующей сортировкой списка по этому количеству.
19. Для каждого университета напишите запрос, выводящий сумму стипендии, выплачиваемой студентам каждого курса.
20. Для каждого города напишите запрос, выводящий максимальный рейтинг университетов, в нем расположенных, с последующей сортировкой списка по значениям рейтингов.
21. Для каждого дня сдачи экзаменов напишите запрос, выводящий среднее значение всех экзаменационных оценок.
22. Для каждого дня сдачи экзаменов напишите запрос, выводящий общее количество студентов, сдававших экзамены.
23. Для каждого дня сдачи экзаменов напишите запрос, выводящий общее количество экзаменов, сдававшихся каждым студентом.
24. Для каждого преподавателя напишите запрос, выводящий количество преподаваемых им предметов.
25. Напишите запрос, выполняющий вывод списка студентов, имеющих только отличные оценки. Результат отстортируйте по идентификатору студента.