<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 3.1. Преобразование вывода и функции</p> 

<a id = Home></a>

7 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)

10 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">



<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания c помощью Jupyter Notebook и языка програмирования Python</p>

1. Составьте запрос для таблицы STUDENT таким образом, чтобы в результат содержал только студентов, чья фамилия заканчивается на "ова" и чтобы выходная таблица содержала всего один столбец в следующем виде: В. Кудряшова; место жительства - Нижневартовск; день рождения 2002-02-18.
2. Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий, при этом значения стипендий должны быть увеличены в 100 раз.
3. Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица содержала всего один столбец в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.

# Решение

In [2]:
# Ваш код здесь

import sqlite3
import pandas as pd

In [3]:
conn=sqlite3.connect('../Data/Students.db')
crs=conn.cursor()

In [5]:
# 1
s = """
SELECT SUBSTR(NAME, 1, 1)||'. '|| SURNAME ||'; место жительства - '||CITY||'; день рождения '|| date(BIRTHDAY)||'.'
    FROM STUDENT WHERE surname like '%ова'
"""
crs.execute(s).fetchall()

[('В. Кудряшова; место жительства - Нижневартовск; день рождения 2002-02-18.',),
 ('П. Рожкова; место жительства - Рубцовск; день рождения 2001-09-15.',),
 ('И. Соколова; место жительства - Колпашево; день рождения 2002-06-25.',),
 ('В. Семенова; место жительства - Вологда; день рождения 2003-10-04.',),
 ('В. Некрасова; место жительства - Иркутск; день рождения 2004-08-23.',),
 ('О. Казакова; место жительства - Кемерово; день рождения 2000-03-29.',),
 ('А. Миронова; место жительства - Владикавказ; день рождения 2000-10-08.',),
 ('Л. Одинцова; место жительства - Верхний Баскунчак; день рождения 2002-03-07.',),
 ('З. Игнатова; место жительства - Ростов; день рождения 2000-09-26.',),
 ('Д. Мельникова; место жительства - Архангельск; день рождения 2002-08-01.',),
 ('В. Фролова; место жительства - Кисловодск; день рождения 1999-06-02.',),
 ('М. Казакова; место жительства - Нальчик; день рождения 1994-02-18.',),
 ('Ф. Жукова; место жительства - Магадан; день рождения 1998-10-06.',),
 ('И. Жданова; место жительства - Тверь; день рождения 2002-03-02.',),
 ('С. Мельникова; место жительства - Кропоткин (Краснод.); день рождения 1998-03-24.',),
 ('А. Вишнякова; место жительства - Иваново; день рождения 2002-02-10.',),
 ('М. Борисова; место жительства - Рославль; день рождения 1995-08-07.',),
 ('А. Воронова; место жительства - Усть-Джегута; день рождения 1999-02-04.',),
 ('Е. Петрова; место жительства - Белгород; день рождения 2001-05-21.',),
 ('М. Иванова; место жительства - Липецк; день рождения 2002-04-11.',),
 ('Ф. Миронова; место жительства - Москва; день рождения 2002-04-15.',)]

In [7]:
# 2
"""
Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий,
при этом значения стипендий должны быть увеличены в 100 раз.
"""

s = "select surname ||' '|| name, stipend*100 from student limit 10;"
crs.execute(s).fetchall()

[('Иванов Иван', 15000),
 ('Петров Петр', 20000),
 ('Сидоров Вадим', 15000),
 ('Кузнецов Борис', 0),
 ('Зайцева Ольга', 25000),
 ('Котов Павел', 15000),
 ('Белкин Вадим', 25000),
 ('Дуб Елизавета', 15000),
 ('Кудряшова Вера', 10000),
 ('Журавлева Вера', 0)]

In [8]:
# 3 
"""
Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица содержала всего один столбец 
в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.
"""
s = """
select 'Код-'||univ_ID||'; '||univ_NAME||'-г.'||city||'; Рейтинг='||rating||'.' from university
"""
crs.execute(s).fetchall()

[('Код-10; ВГУ-г.Воронеж; Рейтинг=296.',),
 ('Код-11; НГУ-г.Новосибирск; Рейтинг=345.',),
 ('Код-12; МФТИ-г.Москва; Рейтинг=500.',),
 ('Код-14; БГУ-г.Белгород; Рейтинг=326.',),
 ('Код-15; ТГУ-г.Томск; Рейтинг=368.',),
 ('Код-18; ВГМА-г.Воронеж; Рейтинг=327.',),
 ('Код-22; МГУ-г.Москва; Рейтинг=606.',),
 ('Код-32; РГУ-г.Ростов; Рейтинг=416.',),
 ('Код-44; ФинУ-г.Москва; Рейтинг=330.',),
 ('Код-45; МГТУ им. Баумана-г.Москва; Рейтинг=372.',),
 ('Код-46; ФГБОУ "Политех"-г.Санкт-Петербург; Рейтинг=300.',),
 ('Код-47; КФУ-г.Казань; Рейтинг=330.',),
 ('Код-48; УЛГУ-г.Ульяновск; Рейтинг=231.',)]



<img src=../Img/pencil.png style="width:190px;height:190px">

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните указанные задания c помощью Python в интерактивной среде Jupyter notebook</p>

1. Напишите запрос для подсчета количества студентов, сдававших экзамен по предмету обучения с идентификатором 73.
2. Напишите запрос, который позволяет подсчитать в таблице EXAM_MARKS количество различных предметов обучения.
3. Напишите запрос, который для каждого студента выполняет выборку его идентификатора и минимальной из полученных им оценок.
4. Напишите запрос, который для каждого студента выполняет выборку его идентификатора и максимальной из полученных им оценок.
5. Напишите запрос, выполняющий вывод первой по алфавиту фамилии студента, начинающейся на букву "И".
6. Напишите запрос, который для каждого предмета обучения выводит наименование предмета и максимальное значение номера семестра, в котором этот предмет преподается.
7. Напишите запрос, который для каждого конкретного дня сдачи экзамена выводит данные о количестве студентов, сдававших экзамен в этот день.
8. Напишите запрос, выдающий средний балл для каждого студента.
9. Напишите запрос, выдающий средний балл для экзамена по каждому предмету.
10. Напишите запрос, определяющий количество сдававших студентов для каждого предмета (оценка больше двух).
11. Напишите запрос для определения количества предметов, изучаемых на каждом курсе.
12. Для каждого университета напишите запрос, выводящий суммарную стипендию обучающихся в нем студентов, с последующей сортировкой списка по этому значению.
13. Для каждого семестра напишите запрос, выводящий общее количество часов, отводимое на изучение соответствующих предметов.
14. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им на всех экзаменах.
15. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им по каждому предмету.
16. Напишите запрос, выводящий количество студентов, проживающих в каждом городе. Список отсортировать в порядке убывания количества студентов.
17. Для каждого университета напишите запрос, выводящий количество обучающихся в нем студентов, с последующей сортировкой списка по этому количеству.
18. Для каждого университета напишите запрос, выводящий количество работающих в нем преподавателей, с последующей сортировкой списка по этому количеству.
19. Для каждого университета напишите запрос, выводящий сумму стипендии, выплачиваемой студентам каждого курса.
20. Для каждого города напишите запрос, выводящий максимальный рейтинг университетов, в нем расположенных, с последующей сортировкой списка по значениям рейтингов.
21. Для каждого дня сдачи экзаменов напишите запрос, выводящий среднее значение всех экзаменационных оценок.
22. Для каждого дня сдачи экзаменов напишите запрос, выводящий общее количество студентов, сдававших экзамены.
23. Для каждого дня сдачи экзаменов напишите запрос, выводящий общее количество экзаменов, сдававшихся каждым студентом.
24. Для каждого преподавателя напишите запрос, выводящий количество преподаваемых им предметов.
25. Напишите запрос, выполняющий вывод списка студентов, имеющих только отличные оценки. Результат отстортируйте по идентификатору студента.

# Решение

In [11]:
# 1

crs.execute("SELECT count(STUDENT_ID) FROM EXAM_MARKS WHERE MARK IS NOT NULL AND SUBJ_ID = 73").fetchone()

(4,)

In [10]:
#2 Напишите запрос, который позволяет подсчитать в таблице EXAM_MARKS количество различных предметов обучения.

s = "SELECT COUNT(DISTINCT subj_id) FROM exam_marks"
crs.execute(s).fetchall()

[(9,)]

In [14]:
# 3 Напишите запрос, который для каждого студента выполняет выборку его идентификатора и минимальной из полученных им оценок.

print(crs.execute("""SELECT STUDENT_ID, min(MARK) 
    FROM EXAM_MARKS 
    GROUP BY STUDENT_ID limit 10""").fetchall())

[(1, 1), (6, 4), (10, 5), (12, 2), (15, 5), (32, 4), (55, 5), (62, 4), (64, 4), (65, 1)]

In [16]:
# 4 Напишите запрос, который для каждого студента выполняет выборку его идентификатора и максимальной из полученных им оценок.

s="""
SELECT student_id, max(mark) 
    FROM exam_marks GROUP BY student_id limit 10"""
print(crs.execute(s).fetchall())

[(1, 1), (6, 4), (10, 5), (12, 5), (15, 5), (32, 4), (55, 5), (62, 4), (64, 4), (65, 1)]

In [18]:
#5 Напишите запрос, выполняющий вывод первой по алфавиту фамилии студента, начинающейся на букву "И".

s="""
SELECT MIN(SURNAME) FROM STUDENT WHERE SUBSTR(SURNAME, 1,1)='И'
"""
print(crs.execute(s).fetchone())

('Иванов',)

In [19]:
# 5 Var 2

s="""
SELECT MIN(SURNAME) || ' ' || NAME FROM STUDENT WHERE SURNAME LIKE 'И%'
"""
print(crs.execute(s).fetchone())

('Иванов Иван',)

In [27]:
# 5 Var 3
s = """
select surname from student where surname like 'И%' order by surname limit 1;
"""
crs.execute(s).fetchall()

[('Иванов',)]

In [28]:
# 6. Напишите запрос, который для каждого предмета обучения выводит наименование предмета и 
# максимальное значение номера семестра, в котором этот предмет преподается.

s = """
SELECT subj_name, max(semester) 
    FROM subject GROUP BY subj_name
"""
crs.execute(s).fetchall()

[('Анализ данных', 1),
 ('Английский язык', 3),
 ('Информатика', 1),
 ('История', 4),
 ('Математика', 2),
 ('ОБЖ', 2),
 ('Обработка данных и моделирование в Excel', 3),
 ('Программирование на языках Python и SQL', 2),
 ('Теория вероятностей и математическая статистика', 4),
 ('Физика', 1),
 ('Физкультура', 5)]

In [29]:
#7. Напишите запрос, который для каждого конкретного дня сдачи экзамена выводит данные о количестве студентов, 
# сдававших экзамен в этот день.

s="""
SELECT date(EXAM_DATE), Count(STUDENT_ID) FROM EXAM_MARKS GROUP BY EXAM_DATE
"""
crs.execute(s).fetchall()

[('2000-01-18', 1),
 ('2000-01-23', 2),
 ('2006-05-12', 1),
 ('2006-06-17', 1),
 ('2019-05-26', 1),
 ('2019-05-29', 9),
 ('2019-09-02', 1),
 ('2019-12-25', 1),
 ('2019-12-31', 1),
 ('2020-02-10', 1),
 ('2020-02-21', 3),
 ('2020-02-22', 1),
 ('2020-05-26', 7),
 ('2020-05-27', 2),
 ('2020-08-18', 1),
 ('2020-09-21', 1),
 ('2020-10-24', 1),
 ('2020-12-03', 1),
 ('2021-06-02', 5)]

In [32]:
#8. Напишите запрос, выдающий средний балл для каждого студента.

s="""
SELECT student_id, AVG(mark) FROM exam_marks GROUP BY student_id

"""
print(crs.execute(s).fetchall())

[(1, 1.0), (6, 4.0), (10, 5.0), (12, 3.5), (15, 5.0), (32, 4.0), (55, 5.0), (62, 4.0), (64, 4.0), (65, 1.0), (71, 3.0), (73, 1.0), (76, 2.0), (77, 1.0), (79, 1.0), (82, 5.0), (83, 1.0), (85, 2.5), (88, 5.0), (90, 4.0), (91, 5.0), (92, 5.0), (97, 1.0), (99, 5.0), (101, 2.0), (103, 2.0), (105, 3.0), (110, 1.0), (116, 1.0), (117, 4.0), (123, 2.0), (126, 1.0), (128, 4.0), (149, 2.0), (203, 3.0)]

In [34]:
#9. Напишите запрос, выдающий средний балл для экзамена по каждому предмету.

s = """
SELECT exam_id, AVG(mark) FROM exam_marks GROUP BY exam_id
"""

print(crs.execute(s).fetchall())

[(1, 1.0), (2, 4.0), (3, 4.0), (4, 1.0), (5, 3.0), (6, 4.0), (7, 1.0), (8, 1.0), (9, 5.0), (10, 1.0), (11, 2.0), (12, 5.0), (13, 2.0), (14, 1.0), (15, 4.0), (16, 5.0), (17, 5.0), (18, 2.0), (19, 3.0), (20, 3.0), (21, 2.0), (22, 3.0), (23, 4.0), (24, 2.0), (25, 1.0), (26, 1.0), (27, 5.0), (28, 5.0), (29, 1.0), (30, 5.0), (31, 1.0), (32, 1.0), (33, 2.0), (34, 4.0), (43, 4.0), (75, 5.0), (95, 2.0), (100, 5.0), (145, 2.0), (238, 5.0), (639, None)]

In [35]:
# 10. Напишите запрос, определяющий количество сдававших студентов для каждого предмета (оценка больше двух).

s="""
SELECT subj_id, COUNT(student_id)
    FROM exam_marks
    WHERE mark>2
    GROUP BY subj_id;
"""
crs.execute(s).fetchall()

[(10, 7), (12, 1), (13, 1), (22, 3), (43, 1), (56, 3), (73, 3), (94, 2)]

In [37]:
# 10. Var 2

s = """
SELECT SUBJECT.SUBJ_NAME, Count(EXAM_MARKS.STUDENT_ID) AS [Количество студентов]
FROM SUBJECT JOIN EXAM_MARKS ON SUBJECT.SUBJ_ID = EXAM_MARKS.SUBJ_ID
where exam_marks.mark > 2
GROUP BY SUBJECT.SUBJ_NAME
"""

crs.execute(s).fetchall()

[('Анализ данных', 1),
 ('Английский язык', 2),
 ('Информатика', 7),
 ('История', 3),
 ('Математика', 1),
 ('ОБЖ', 1),
 ('Физика', 3),
 ('Физкультура', 3)]

In [41]:
# 16. Напишите запрос, выводящий количество студентов, проживающих в каждом городе. 
# Список отсортировать в порядке убывания количества студентов.

s = """
SELECT CITY, COUNT(STUDENT_ID) AS C 
    FROM STUDENT 
    GROUP BY CITY 
    HAVING CITY IS NOT NULL ORDER BY C DESC
"""
result = crs.execute(s).fetchall()
print(len(result))
result

68

[('Улан-Удэ', 3),
 ('Орел', 3),
 ('Москва', 3),
 ('Курск', 3),
 ('Воронеж', 3),
 ('Новый Уренгой', 2),
 ('Мурманск', 2),
 ('Магадан', 2),
 ('Липецк', 2),
 ('Кропоткин (Краснод.)', 2),
 ('Иркутск', 2),
 ('Джубга', 2),
 ('Брянск', 2),
 ('Белгород', 2),
 ('Чебоксары', 1),
 ('Ханты-Мансийск', 1),
 ('Уфа', 1),
 ('Устюжна', 1),
 ('Усть-Кут', 1),
 ('Усть-Джегута', 1),
 ('Усмань', 1),
 ('Усинск', 1),
 ('Ульяновск', 1),
 ('Тимашевск', 1),
 ('Тверь', 1),
 ('Сыктывкар', 1),
 ('Сургут (Хант.)', 1),
 ('Славянск-на-Кубани', 1),
 ('Саянск', 1),
 ('Рыльск', 1),
 ('Рубцовск', 1),
 ('Ростов', 1),
 ('Рославль', 1),
 ('Пятигорск', 1),
 ('Новосибирск', 1),
 ('Нижний Новгород', 1),
 ('Нижневартовск', 1),
 ('Нерчинск', 1),
 ('Невинномысск', 1),
 ('Невельск (Сахалин)', 1),
 ('Нальчик', 1),
 ('Кыштым', 1),
 ('Курганинск', 1),
 ('Корсаков', 1),
 ('Колпашево', 1),
 ('Кисловодск', 1),
 ('Кизилюрт', 1),
 ('Кемерово', 1),
 ('Камень-на-Оби', 1),
 ('Калининград', 1),
 ('Ишим', 1),
 ('Игарка', 1),
 ('Иваново', 1),
 ('Жуковский', 1),
 ('Енисейск', 1),
 ('Грозный', 1),
 ('Геленджик', 1),
 ('Воркута', 1),
 ('Волоколамск', 1),
 ('Вологда', 1),
 ('Волгоград', 1),
 ('Владикавказ', 1),
 ('Верхоянск', 1),
 ('Верхний Баскунчак', 1),
 ('Беломорск', 1),
 ('Байкальск', 1),
 ('Архангельск', 1),
 ('Ангарск', 1)]

In [42]:
s = """
select university.univ_name, count(student.student_id) as c 
    from university left join student on university.univ_id = student.univ_id 
    group by univ_name order by c desc
"""
result = crs.execute(s).fetchall()
print(len(result))
result

13

[('ВГУ', 16),
 ('ФинУ', 10),
 ('МГУ', 10),
 ('ФГБОУ "Политех"', 9),
 ('БГУ', 9),
 ('РГУ', 7),
 ('КФУ', 6),
 ('ВГМА', 6),
 ('УЛГУ', 5),
 ('МГТУ им. Баумана', 5),
 ('НГУ', 4),
 ('ТГУ', 2),
 ('МФТИ', 0)]

ДЗ на 14.03

Выполнить оставшиеся задания 7-25

Оценка макс. 1 балл.

In [ ]:
crs.execute(s).fetchall()